.Main-container{
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "L R R R R"
    "L R R R R"
    "L R R R R"
    "L R R R R";
}
#body{
    width: 100%;
    justify-items: center;
    border: 2px solid red;
}
.Rigth-container{
    background-color: white;
    grid-area: R;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "hey w w w w"
    "hello w w w w"
    "w w w w Sorry"
    "youworktomuch w w w w"
    "w w w w TelMe"
    "typemessage typemessage typemessage typemessage send";

}
.Left-container{
    display: grid;
    grid-area: L;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: blue;
    grid-template-areas: 
    "1"
    "2"
    "3"
    "4"
    "5";
}
.DL1{
    grid-area: 1;
    background-color: chartreuse;
}
.DL2{
    grid-area: 2;
    background-color: brown;
}
.DL3{
    grid-area: 3;
    background-color: aqua;
}
.DL4{
    grid-area: 4;
    background-color: coral;
}
.DL5{
    grid-area: 5;
    background-color: crimson;
}
.Wit{
    grid-area: w;
    background-color: black;
    width: 100%;
    height: 100%;
}
.DR1{
  grid-area: hey;
}
.DR2{
    grid-area: hello;
}
.DR3{
    grid-area: youworktomuch;
}
.DR4{
    grid-area: Sorry;
}
.DR5{
    grid-area: TelMe;
}
.DR6{
    grid-area: send;
}
.DR7{
    grid-area: typemessage;
}